# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ----------------------------
# Virtual Environment
# ----------------------------
venv/
.env

# ----------------------------
# OS / Editor
# ----------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# ----------------------------
# Streamlit
# ----------------------------
.streamlit/

# ----------------------------
# Logs / Temp
# ----------------------------
*.log
*.tmp

# ----------------------------
# Testing / Coverage
# ----------------------------
.coverage
htmlcov/

# ----------------------------
# Build artifacts
# ----------------------------
build/
dist/
*.egg-info/
